## java files

*.class

# Package Files #
*.jar
dependency-reduced-pom.xml

## Build tools
/target/
/src/project/*/target/*
/src/project/*/target.*/*


## IDEs
.idea/
*.iml
*.iws
*.ipr
*~
*.swp
.classpath
.project
.checkstyle
.settings/*
*/.settings/*


# Misc
*.old
*.rdr
rdr.*
*.log
*.tmp
tmp.*
*.sh

